<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>駅選択画面</title>
  </head>
  <body>
    <form action="/result" method="get">
      <select name="dep_station" size="10">
        <% @dep_station.each_with_index do |stations, index| %>
          <option value="<%= @dep_station[index].code %>" ><%= @dep_station[index].name %></option>
        <% end %>
      </select>

      <% @mid_stations.each_with_index do | m_station, i | %>
        <% if m_station.empty? %>
          <% nil; else %>
          <select name="mid_station<%= i +1 %>" size="10">
          <% m_station.each_with_index do |stations, index| %>
              <option value="<%= m_station[index].code %>" ><%= m_station[index].name %></option>
          <% end %>
          </select> 
        <% end %>
      <% end %>

  <% if @mid_station2 != nil %>
      <select name="mid_station2" size="10">
        <% @mid_station2.each_with_index do |stations, index| %>
          <option value="<%= @mid_station2[index].code %>" ><%= @mid_station2[index].name %></option>
        <% end %>
      </select>
      <% else; %>
      <% end %>

      <select name="arr_station" size="10">
        <% @arr_station.each_with_index do |stations, index| %>
          <option value="<%= @arr_station[index].code %>" ><%= @arr_station[index].name %></option>
        <% end %>
      </select>
      <input type="hidden" name="dep_h" value=<%= params[:dep_h] %>>
      <input type="hidden" name="dep_t" value=<%= params[:dep_t] %>>
    <input type="submit">
  </form>

  </body>
</html>